name = "easynews-cloudflare-worker"
compatibility_date = "2024-09-23"

compatibility_flags = ["nodejs_compat"]

[observability]
enabled = true
head_sampling_rate = 1 

[vars]
PORT = "1337"
EASYNEWS_LOG_LEVEL = "debug"
